@media only screen and (min-width: 64rem) {
nav button{display:none;}

nav ul {margin-left: 2%;}

nav ul.hide{display:block;}

nav ul li{
    float: left;
}

nav ul li a {
    border:none;
    border-right:1px solid rgba(0, 0, 0, 0.3) ;
    padding: .6rem 1rem;
}
}